// font-family: 'Poppins', sans-serif;
// #C7E902

@media screen and (min-width: 1000px) {
  .boxWeb {
    display: flex;
    margin-bottom: 10rem;
  }
  .containerWeb {
    margin: auto;
    justify-content: center !important;
    display: flex;
  }
  .title {
    margin: auto;
    justify-content: center;
    display: flex;
    text-align: center;
  }
  .fontWeb {
    font-size: 6rem;
    margin-bottom: 5rem;
    // animation: fontWebAnimation 2s ease-in-out;
  }

  // @keyframes fontWebAnimation {
  //   from{
  //     opacity: 0;
  //   }
  //   to{
  //     opacity: 1;
  //   }
  // }

  .containerimg img {
    padding-top: 5rem;
    max-width: 16rem !important;
    height: 20rem !important;
    transition: transform 0.3s;
    transform: scale(1.9);
  }
  .containerimg:hover img {
    transform: scale(2.4);
  }
}

.boxWeb {
  justify-content: center;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.allImgDiv {
  contain: content;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  .imgDimentionsForCourses {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 20rem !important;
    transition: transform 0.3s;
    transform: scale(1.9);
    max-width: 12rem !important;
    max-height: 20rem !important;
  }
  .imgDimentionsForCourses:hover {
    transform: scale(2.4);
  }
}

.containerWeb {
  background-color: black;
  // height: 1rem;
  width: 100%;
  padding-bottom: 5rem;
}

.title {
  margin-top: 4rem !important;
  color: white;
  font-family: "Poppins", sans-serif;
}
// .allImgDiv {
//   margin: auto;
//   width: 80%;
//   display: flex;
//   justify-content: center;
// }
h1 {
  margin-top: 2rem !important;
  font-size: 3rem;
}
.priceImg {
  background-color: #c7e902;
  width: 20rem;
  transition: transform 0.1s ease-in-out;
  margin: auto;
  justify-content: start;
  align-items: center;
  display: flex;
}

.boxOutProjects {
  &:hover,
  &:focus {
    .projectsTitle {
      h3 {
        transition: color 0.8s ease-in-out;
        color: #c7e902;
      }
    }
  }
  &:not(:hover):not(:focus) {
    .projectsTitle {
      h3 {
        color: #ffffff; /* Color final cuando no se hace hover ni focus */
        transition: color 0.8s ease-in-out;
      }
    }
  }
}

.boxOutProjects {
  cursor: pointer;
  user-select: auto;
  &:hover {
    .priceImg {
      transform: scaleY(1);
    }
  }

  &:not(:hover) {
    .priceImg {
      transform: scaleY(0);
    }
  }
}

.containerimg {
  contain: content;
  margin: 0.5rem 0.5rem 0rem 0.5rem;
  width: 20rem;
  height: 30rem;
  display: flex;
  justify-content: center;
}

.textFont {
  justify-content: center;
  display: flex;
  margin: auto;
  align-items: center;
  margin-left: 1rem !important;
  font-family: "Poppins", sans-serif;
  p{
    text-align: center;
    align-items: center;
    display: flex;
    margin: auto;
    justify-content: center;
  }
}

.wallet {
  margin-top: auto;
  margin-left: 1rem;
  margin-bottom: auto;
}

@media screen and (max-width: 1000px) {
  .title {
    margin: auto;
    justify-content: center;
    display: flex;
    text-align: center;
  }
  .containerimg img {
    max-width: 100%;
    padding-top: 5rem;
    transition: transform 0.3s;
    transform: scale(1.9);
    contain: content;
  }
  .containerimg:hover img {
    transform: scale(2.4);
  }
}

.rowClass {
  color: #c7e902;
  margin-left: 10rem;
  margin-top: -0.3rem;
  font-size: 2rem;
  font-weight: 900;
}
.projectsTitle {
  justify-content: space-between;
  img {
    margin-top: -3rem;
    width: 2rem;
    margin-left: 2rem;
  }
  h3 {
    margin-top: -2rem;
  }
  color: white;
  margin: auto;
  // justify-content: start;
  margin-left: 4rem;
  margin-top: 5rem;
  display: flex;
}

.fontPoppins {
  font-family: "Poppins", sans-serif;
}
