<div class="boxGeneral">
  <div>
    <div class="containerTitle">
      <h1 class="font">CONTACT</h1>
    </div>
    <div class="containerImg">
      <img class="imgRow" src="../../../assets/4. 290x290px.svg" alt="" />
    </div>
    <div class="containerDisplay">
      <div class="containerContact">
        <div class="dataContact mt-5 ms-5">
          <div class="grid containerMargins">
            <div class="row">
              <h6 class="font">Location:</h6>
              <p>450 NW Couch Street,</p>
              <p>Portland, Oregon 97209</p>
            </div>
            <div class="row">
              <h6 class="font">Email us:</h6>
              <p>name@email.com</p>
            </div>
            <div class="row">
              <h6 class="font">Call us:</h6>
              <p>450 NW Couch Street,</p>
              <p>Portland, Oregon 97209</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="containerBackGround">
      <div class="containerTitleForm">
        <h6 class="font">Send us a message:</h6>
      </div>
      <div class="displayCenter">
        <div class="containerForm">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Your Name"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="mb-3">
            <div class="input-group">
              <input
                placeholder="example@gmail.com"
                type="text"
                class="form-control"
                id="basic-url"
                aria-describedby="basic-addon3 basic-addon4"
              />
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Enter subject here"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group">
            <textarea
              placeholder="Your Message"
              class="form-control"
              aria-label="With textarea"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="contianerButton">
        <img src="../../../assets/rowWhite.svg" alt=""/>
        <label class="font labelSend">
          SEND NOW
        </label>
      </div>
    </div>
  </div>
</div>
