<div>
  <div class="contianerFlexWeb">
    <div class="contianerCuttingAndButton">
      <div class="titleContainer">
        <h3 class="font">{{title}}</h3>
      </div>
      <div class="containerText">
        <p>
          {{description}}
        </p>
      </div>
      <div class="containerButton">
        <app-visit-project-button
          buttonContent="VISIT PROJECT"
        ></app-visit-project-button>
      </div>
    </div>
    <div class="containerImg">
      <img
        [src]="cuttingImg"
        alt=""
      />
    </div>
  </div>
  <div class="containerEnrollComplete">
    <div class="containerEnroll">
      <div class="containerOnlyRow">
        <img src="../../../../assets/4. 290x290px.svg" alt="">
      </div>
      <div class="enrollNow">
        <app-visit-project-button
          buttonContent="ENROLL NOW"
        ></app-visit-project-button>
      </div>
    </div>
  </div>
</div>
