.navbar {
  background-color: rgb(255, 255, 255) !important;
  width: 100%;

  .logo {
    width: 10rem;
    // height: 4rem;
  }
}

.material-symbols-outlined {
  font-size: 3rem;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.font {
  font-family: "Poppins", sans-serif;
}

.enrollNow {
  margin-top: 0.7rem;

  &:hover,
  &:active {
    text-decoration: underline;
    cursor: pointer;
  }
}

.carShop {
  cursor: pointer;
  width: 2rem !important;
}

@media screen and (max-width: 1000px) {
  .containerWeb {
    display: none;
  }

  .menuButtonMobile {
    cursor: pointer;
    font-size: 3rem;
    color: #000000;
  }
}

@media screen and (min-width: 1000px) {
  .arrowButton {
    color: #c7e902;
  }

  .menuButtonMobile {
    display: none;
  }

  .containerWeb {
    img {
      width: 2rem;
    }
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .selectors {
    display: flex;
    justify-content: center;
    margin: auto;
    li:hover,
    li:active {
      text-decoration: underline;
    }
    li {
      cursor: pointer;
      font-family: "Poppins", sans-serif;
    }

    span:hover,
    span:active {
      text-decoration: underline;
    }

    span {
      cursor: pointer;
      margin-left: 3rem;
      margin-right: 3rem;
      font-family: "Poppins", sans-serif;
    }
  }

  .enrollContainer {
    margin: auto;
    justify-content: start;
    display: flex;
  }
}

#toggleContainer {
  width: 100%;
  height: 0;
  background-color: black;
  transition: height 1s;
  overflow: hidden;
}

#toggleContainer.active {
  height: 40rem;
}
