<nav class="navbar bg-body-tertiary d-flex">
  <div class="d-flex contanerSon">
    <div class="container-fluid d-flex">
      <div class="d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="#">
          <img class="logo" src="./../../../assets/logo.webp" />
        </a>
        <div class="containerWeb">
          <div class="selectors">
            <span> Home </span>
            <span> All Courses </span>
            <span> Our Projects </span>
            <span> About </span>
            <span> Blog </span>
            <span> Contact </span>
          </div>
        </div>
      </div>
      <div class="enrollContainer containerWeb">
        <div class="d-flex">
          <span class="material-symbols-outlined arrowButton">
            arrow_forward_ios
          </span>
          <span class="enrollNow font"> ENROLL NOW </span>
        </div>
      </div>
    </div>
  </div>
  <span class="material-symbols-outlined menuButtonMobile">
    drag_handle
  </span>
</nav>
