<div class="principalContainer mt-5 mb-5">
  <div class="selectorAndImg">
    <div class="containerSelector mt-3 mb-3">
      <select class="form-select">
        <option>Relase Date (newest first)</option>
        <option>Relase Date (oldest first)</option>
        <option>Course Title (a-z)</option>
        <option>Course Title (z-a)</option>
      </select>
    </div>
    <ng-container >
      <div class="containerImg">
        <img [src]="imgMailBox" alt="">
      </div>
      <div class="d-flex justify-content-center">
        <span>
          No Data Available in this Section
        </span>
      </div>
    </ng-container>
  </div>
</div>
