.containerWidth {
  background-color: black;
  // height: 160rem;
  width: 100% !important;
}
.title {
  color: white;
  font-family: "Poppins", sans-serif;
}
.subTitleCourses {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  margin-top: 2rem;
}
.secondaryTitle {
  color: white;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}
.imgDimentionsForCourses {
  width: 20rem;
}

.material-symbols-outlined {
  color: #c7e902;
  font-variation-settings: "FILL" 0, "wght" 900, "GRAD" 0, "opsz" 48;
}
.marginForRight {
  img {
    width: 2rem;
  }
  margin-left: 4rem;
  margin-top: 2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    font-size: 0;
  }
  to {
    opacity: 1;
  }
}

.title {
  animation: fadeIn 2s ease-in-out;
}

.subtitleDiv {
  display: flex;
}

.coursesTitles {
  display: flex;
  justify-content: center;
  margin: auto;
}

.viewAll {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-left: 0.5rem;
  // margin-top: 2rem;
}

.marginAutoViewAll {
  margin-top: 1rem !important;
  margin: auto;
  display: flex;
  justify-content: center;
  img {
    width: 2rem;
  }
}

.coursesDesigned {
  display: flex;
  justify-content: center;
  margin: auto;
}

.allImgDiv {
  contain: content;
  margin: auto;
  display: flex;
  justify-content: center;
}

@keyframes subTitle {
  from {
    opacity: 0;
    font-size: 0;
    margin: 6rem;
  }
  to {
    opacity: 1;
  }
}

@keyframes imgsCourses {
  from {
    opacity: 0;
    margin: 6rem;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    font-size: 0;
    margin: 5rem;
  }
  to {
    // font-size: 3rem;
    opacity: 1;
  }
}

.containerImgsWeb {
  cursor: pointer;
  user-select: auto;
}
.containerImgsWeb {
  &:hover,
  &:focus {
    .subTitleCourses {
      transition: color 0.8s ease-in-out;
      color: #c7e902;
    }
  }
  &:not(:hover):not(:focus) {
    .subTitleCourses {
      color: #ffffff; /* Color final cuando no se hace hover ni focus */
      transition: color 0.8s ease-in-out;
    }
  }
}

.marginAutoViewAll {
  &:hover,
  &:focus {
    .viewAll {
      transition: color 0.8s ease-in-out;
      color: #c7e902;
      cursor: pointer;
      user-select: auto;
    }
  }
  &:not(:hover):not(:focus) {
    .viewAll {
      transition: color 0.8s ease-in-out;
      color: #ffffff;
      cursor: pointer;
      user-select: auto;
    }
  }
}

@media screen and (max-width: 1200px) {
  .allImgDiv {
    contain: content;
    margin: auto;
    width: 20rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    .imgDimentionsForCourses {
      margin: auto;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 20rem !important;
      transition: transform 0.3s;
      transform: scale(1.9);
      max-width: 12rem !important;
      max-height: 20rem !important;
    }
    .imgDimentionsForCourses:hover {
      transform: scale(2.4);
    }
  }
  .containerWidth {
    padding-bottom: 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .secondaryTitle {
    opacity: 1;
    font-size: 8rem;
    margin-bottom: 2rem;
    animation: subTitle 2s ease-in-out;
    // animation-delay: 2s; /* Retraso de 2 segundos */
  }
  //Courses for you animations!!!!
  //--->

  .allImgDiv {
    contain: content;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 20rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    .imgDimentionsForCourses {
      margin: auto;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 20rem !important;
      transition: transform 0.3s;
      transform: scale(1.9);
      max-width: 12rem !important;
      max-height: 20rem !important;
    }
    .imgDimentionsForCourses:hover {
      transform: scale(2.4);
    }
  }

  .title {
    animation: fadeIn 1s ease-in-out;
    font-size: 3rem;
  }
  .containerWidth {
    background-color: black !important;
    width: 100% !important;
    padding-bottom: 10rem;
    padding-top: 5rem;
  }
  .containerCoursesFlex {
    display: flex;
    width: 80% !important;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
}
