.font {
  font-family: "Poppins", sans-serif;
}
.titleContainer {
  display: flex;
  justify-content: start;
  margin: auto;
  margin-top: 5rem;
  margin-left: 5rem;
  h3 {
    z-index: 1;
    text-align: start;
    @media screen and (max-width: 1400px) {
      font-size: 2rem;
    }
    font-size: 5rem;
  }
}

.containerImg {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  img {
    width: 80%;
  }
}

@media screen and (min-width: 1400px) {
  .boxComponent {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 75%;
  }
  .containerImg {
    img {
      height: 20rem;
      width: 20rem;
    }
  }
  .containerImg {
    margin-left: -4rem;
    margin-right: 10rem;
    margin-top: -4rem;
  }
  .containerFlexWeb {
    display: flex;
    margin: auto;
    justify-content: center;
  }
  .titleContainer {
    // margin-left: 20rem;
    margin-right: 20rem;
  }
  .containerText {
    p {
      // margin-left: 20rem !important;
      margin-right: 20rem !important;
    }
  }
}

.containerText {
  display: flex;
  margin: auto;
  justify-content: center;
  p {
    margin-right: 4rem;
    margin-left: 4rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
}
