<div>
  <div>
    <div class="titleContainer">
      <h1 class="font">OUR PROJECTS</h1>
    </div>
    <div class="containerOnlyRow">
      <img src="../../../../assets/4. 290x290px.svg" alt="">
    </div>
    <div class="containerText">
      <p class="contianerHeader">
        Lorem Ipsum number of people across the world resolve to improve their
        health and fitness. For some this means losing weight, for others it’s
        gaining muscle, and for some people, it’s more about working on developing
        a healthy mindset. Transforming your physique, health, and lifestyle
        doesn’t happen overnight.
      </p>
    </div>
  </div>
</div>
