// font-family: 'Poppins', sans-serif;
// #C7E902

@media screen and (min-width: 1000px) {
  .boxWeb{
    display: flex;
    margin-bottom: 10rem;
  }
  .containerWeb{
    margin: auto;
    justify-content: center !important;
    display: flex;
  }
  .title{
    margin: auto;
    justify-content: center;
    display: flex;
    text-align: center;
  }
  .fontWeb{
    font-size: 10rem;
  }

  .containerimg img{
    max-width: 16rem !important;
    height: 20rem !important;
    transition: transform 0.3s;
    transform: scale(1.9);
  }
  .containerimg:hover img{
    transform: scale(2.4);
  }
}


.containerWeb{
  background-color: black;
  // height: 1rem;
  width: 100%;
}
.title{
  margin-top: 4rem !important;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.allImgDiv{
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
}
h1{
  margin-top: 2rem !important;
  font-size: 3rem;
}
.priceImg{
  background-color: #c7e902 ;
  width: 80%;
  height: 2rem;
  margin: auto;
  justify-content: start;
  display: flex;
}
.containerimg{
  margin-top: 5rem !important;
  width: 80%;
  margin: auto;
  justify-content: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.textFont{
  padding-top: 0.2rem;
  margin-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Poppins', sans-serif;
}

.wallet{
  margin-top: auto;
  margin-left: 1rem;
  margin-bottom: auto;
}

@media screen and (max-width: 1000px) {
  .containerimg img{
    max-width: 110%;
    height: 15rem;
    transition: transform 0.3s;
    transform: scale(1.9);
  }
  .containerimg:hover img{
    transform: scale(2.4);
  }
}

.rowClass{
  color: #c7e902;
  margin-left: 10rem;
  margin-top: -0.3rem;
  font-size: 2rem;
  font-weight: 900;
}
.projectsTitle{
  color: white;
  margin: auto;
  justify-content: start;
  margin-left: 2rem;
  margin-top: 2rem;
  display: flex;
}

.fontPoppins{
  font-family: 'Poppins', sans-serif;
}
