$color: #c7e902;

.font{
  font-family: 'Poppins', sans-serif;
}
.titleContainer{
  display: flex;
  justify-content: start;
  margin: auto;
  margin-top: 5rem;
  margin-left: 5rem;
  h3{
    margin-top: 5rem;
    color: white;
    z-index: 1;
    text-align: start;
    @media screen and (max-width: 1000px){
      font-size: 2rem;
    }
    font-size:  5rem;
  }
}

.containerOnlyRow{
  span{
    font-size: 15rem;
    color: $color;
    transform: rotate(-45deg);
    margin-right: 5rem;
    margin-bottom: -12.8rem;
  }
  margin: auto;
  justify-content: end;
  display: flex;
}

.containerButton{
  display: flex;
  justify-content: start;
  margin: auto;
  margin-left: 4rem;
}

@media screen and (max-width: 1000px) {
  .displayNoneMobile{
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .titleContainerWeb{
    display: flex;
    justify-content: start;
    margin: auto;
    margin-left: 20rem;
    h3{
      margin-top: 5rem;
      color: white;
      z-index: 1;
      text-align: start;
      font-size:  3rem;

    }
  }
  .containerButton{
    margin-left: 20rem;
    margin-right: 20rem;
  }
  .containerText{
    p {
      margin-left: 20rem !important;
      margin-right: 20rem !important;
    }
  }
  .titleContainer{
    display: none;
  }
  .containerWeb{
    display: flex;
    flex-direction: row-reverse;
  }
  .containerImg{
    margin-left: -4rem;
    margin-right: -4rem;
  }
}

.containerWeb{
  background-color: black;
  width: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 900,
  'GRAD' 0,
  'opsz' 48
}

.containerImg{
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  img{
    width: 100%;
    margin-bottom: 4rem;
  }
}

.containerText{
  display: flex;
  margin: auto ;
  justify-content: center;

  // color: white;
  // background-color: rgb(255, 255, 255);
  p{
    margin-right: 4rem;
    margin-left: 4rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    color: white;
  }
}
