<ng-container *ngFor="let item of dropDownItemsChildren">
  <div class="boxContent">
    <div
      (click)="toggleCollapse(item.title)"
      role="button"
      aria-expanded="false"
      [attr.aria-controls]="'multiCollapseExample' + item.title"
      class="principalListElementDropDown"
    >
      <span class="textTransitionColor" >
        <span class="spanFirstButton">{{ item.title }}</span>
        <span *ngIf="item.childrens" class="material-symbols-outlined">
          add
        </span>
      </span>
    </div>
    <div class="row">
      <div class="col">
        <div
          *ngIf="item.childrens"
          [id]="'multiCollapseExample' + item.title"
          [class.collapse]="!isCollapsed(item.title)"
          [class.multi-collapse]="isCollapsed(item.title)"
        >
          <ul>
            <li class="textTransitionColor" *ngFor="let i of item.childrens">
              <span>{{ i }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-container>
