<div class="marginTopForComponentsWithNav">
  <app-header-courses
    [coursesArr]="webSiteInformationArr[0].courses"
    class="fade-in-element mt-5"
  ></app-header-courses>
  <app-intro-feed
    [introArr]="webSiteInformationArr[1].introduction"
    class="fade-in-element"
  ></app-intro-feed>
  <app-our-projects
    [projArr]="webSiteInformationArr[2].projects"
    class="fade-in-element"
  ></app-our-projects>
  <app-upcoming-events
    [buysArr]="webSiteInformationArr[4].buys"
    [eventsArr]="webSiteInformationArr[3].events"
    class="fade-in-element"
  ></app-upcoming-events>
  <app-join
    [plansArr]="webSiteInformationArr[5].plans"
    class="fade-in-element"
  ></app-join>
</div>
