<div class="marginTopForComponentsWithNav">
  <app-header-courses
    [coursesArr]="courses"
    [coursesImgs]="coursesImgs"
    class="fade-in-element mt-5"
  ></app-header-courses>
  <app-intro-feed
    [introArr]="introduction"
    class="fade-in-element"
  ></app-intro-feed>
  <app-our-projects
    [projArr]="projects"
    class="fade-in-element"
  ></app-our-projects>
  <app-upcoming-events
    [buysArr]="buys"
    [eventsArr]="events"
    class="fade-in-element"
  ></app-upcoming-events>
  <app-join
    [plansArr]="plans"
    class="fade-in-element"
  ></app-join>
</div>
